.Datos td{
  color: black;
  font-weight: 800;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}


.excel-table th, .excel-table td {
  padding: 1px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.excel-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.excel-table th,
.excel-table td {
  padding: 1px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cell-content {
  font-weight: 500;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: black;
}
