<!-- Formulario para cargar el archivo -->
<form (submit)="uploadFile($event)">
  <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls">
  <button type="submit">Cargar archivo</button>
</form>

<div *ngIf="filePreview">
  <h2>Previsualización del archivo:</h2>
  <p>{{ filePreview.name }}</p>

  <div *ngIf="jsonData && jsonData.length > 0">
  <table class="excel-table">
    <thead>
      <tr>
        <th *ngFor="let header of jsonData[0]" [ngStyle]="{ width: 100 / jsonData[0].length + '%' }">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of jsonData.slice(1)">
        <td *ngFor="let cell of row" [ngStyle]="{ width: 100 / jsonData[0].length + '%' }">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
</div>


</div>

<!-- Tabla para mostrar los datos -->
<table class="table table-striped table-hover" *ngIf="listaAsistencia && listaAsistencia.length > 0">
  <thead>
    <h2>Lista de Asistencia</h2>
    <tr>
      <th>Índice</th>
      <th>Alumno</th>
      <th>Matrícula</th>
      <th>Carrera</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let alumno of listaAsistencia; let i = index">
      <tr class="Datos">
        <td>{{ i + 1 }}</td>
        <td>{{ alumno.Nombre }}</td>
        <td>{{ alumno.Matricula }}</td>
        <td>{{ alumno.Carrera }}</td>
        <td>{{ alumno.Status }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

<!-- Mensaje de éxito -->
<p *ngIf="uploadSuccess">Archivo cargado exitosamente.</p>
