@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Lobster');
body {
  background: #201c29;
}

.Contenedor {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 0;
  grid-template-rows: repeat(6,1fr);
}

.Contenedor_Tarjeta {
  grid-row: 2/7;
  grid-column: 1/3;
  position: relative;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.Card_Docente {
  height: 100%;
  width: 100%;
  background: rgba(0, 48, 73, $alpha: 1);
  border-radius: 6px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.Informacion {
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
}
.Informacion .image {
  position: relative;
  width: 90px;
  height: 80px;
  margin: 38px auto 0 auto;
}
.Informacion .image .circle-1, .Informacion .image .circle-2 {
  position: absolute;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  top: -3px;
  left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: #8d99ae #8d99ae #8d99ae transparent;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}
.circle-1 {
  animation: circle-1 2s;
}
@keyframes circle-1 {
  100% {
    transform: rotate(-360deg);
  }
}
.Informacion .image .circle-2 {
  width: 82px;
  height: 82px;
  top: -6px;
  left: -6px;
  border-color: #edf2f4 transparent #edf2f4 #edf2f4;
  animation: circle 2s;
}
@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
.Informacion .image img {
  display: block;
  border-radius: 50%;
  background: #F5E8DF;
}
.Informacion .image:hover {
  cursor: pointer;
}
.Informacion .image:hover .circle-1, .Informacion .image:hover .circle-2 {
          transform: rotate(360deg);
}
.Informacion .image:hover .circle-2 {
          transform: rotate(-360deg);
}

.Informacion .name {
  font-size: 24px;
  margin-top: 20px;

  font-weight: 700;
  color: #201c29;
}

.Informacion .info {
  margin-top: 17px;
  font-size: 17px;
  line-height: 15px;
}

.Info_Span {
  color: darkgray;
}

svg {
  margin: 0 auto;
  overflow: hidden;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  animation: moveTheWave 2400ms linear infinite;
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}

.Informacion .actions .btn {
  background: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: rgba(237, 242, 244, $alpha: 1.0);
}

.btn, .parameter {
  font-family: 'Josefin sans';
}
.Informacion .actions .btn:hover {
  cursor: pointer;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #643a7a;
  height: 1px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

