<body>
  <Main id="Contenedor" *ngIf="loggedIn">
    <Article id="Navegacion">
      <app-menu></app-menu>
    </Article>
    <article id="Informacion_Docente">
      <app-docente></app-docente>
    </article>
    <article id="Pantalla_Informacion">
      <router-outlet></router-outlet>
    </article>
  </Main>

  <div *ngIf="!loggedIn" id="ContenedorLogin">
    <section id="Registro" *ngIf="formulario === 'registro' || formulario == ' ' ">
      <app-registro (iniciarSesion)="mostrarIniciarSesion()"></app-registro>
    </section>

    <section id="Registro" *ngIf="formulario === 'login'">
      <app-login (registrarse)="mostrarRegistro()"></app-login>
    </section>
  </div>
</body>

{{formulario}}
