<body>
  <Main id="Contenedor" *ngIf="loggedIn">
    <Article id="Navegacion">
      <app-menu></app-menu>
    </Article>
    <article id="Informacion_Docente">
      <app-docente></app-docente>
    </article>
    <article id="Pantalla_Informacion">
      <router-outlet></router-outlet>
    </article>
  </Main>

  <div *ngIf="loggedIn == false">

    <section class="Registro">
      <app-registro *ngIf="showRegistro" (iniciarSesion)="mostrarIniciarSesion()"></app-registro>
    </section>

    <!--<app-IniciarSesion *ngIf="showIniciarSesion" (registrarse)="mostrarRegistro()"></app-IniciarSesion> -->
  </div>
</body>
