@media only screen and (min-width: 300px) and (max-width: 700px) {
 #Contenedor {
  height: 200rem;
  color: antiquewhite;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-attachment: fixed;
 }
}


body {
  background: url('../assets/menu/Formulario.jpeg');
  background-color: rgba(227, 242, 253, $alpha: 1);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#Contenedor {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 140px 4fr;
  width: fit-content;
  height: fit-content;

}

#Navegacion {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: rgba(30, 136, 229, 0.8);
  max-height: 120px;
}

#Informacion_Docente {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 7;

  width: 100%;
  height: 100%;
}

#Pantalla_Informacion {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 7;

  width: 100%;
  height: 100%;
  padding: 0px 30px;

}


