<div class="overlay" style="padding-top: 1rem">
  <form>
    <div class="con">
      <header class="head-form">
        <h2>Login Cuenta</h2>
        <p>Ingresa los datos solicitados</p>
      </header>

      <br />
      <div class="field-set">
        <span class="input-item">
          <i class="fa fa-user-circle"></i>
        </span>

        <input class="form-input" id="txt-input" type="email" placeholder="@UsuarioDemo: admin" [value]="username"
          (input)="updateUsername($event)" required />

        <br />

        <span class="input-item">
          <i class="fa fa-key"></i>
        </span>

        <input class="form-input" type="password" id="pwd" name="password" placeholder="@ContraseñaDemo: password"
          [value]="password" (input)="updatePassword($event)" required />

        <span>
          <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
        </span>

        <br />
        <button class="log-in" (click)="IniciarSesion()" routerLink="Sistema/Inicio">
          Iniciar Sesión
        </button>
        <p *ngIf="loginFailed" class="error">
          Credenciales inválidas. Inténtalo de nuevo.
        </p>
      </div>

      <div class="other">
        <button class="btn submits frgt-pass">Recuperar Contraseña</button>

        <button class="btn submits sign-up" (click)="CrearCuenta()">
          Crear Cuenta!
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<script>
  function show() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "text");
  }

  function hide() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "password");
  }

  var pwShown = 0;

  document.getElementById("eye").addEventListener(
    "click",
    function () {
      if (pwShown == 0) {
        pwShown = 1;
        show();
      } else {
        pwShown = 0;
        hide();
      }
    },
    false
  );
</script>
