<main class="Navegador">

  <section class="Logo_Pagina">
    <div class="Logo_Pagina_img">
      <img src="../../../../assets/menu/Escudo_Pagina.png" alt="">
    </div>
  </section>

  <section class="Nombre_Pagina">
    <div class="Nombre_Pagina_Text_Defualt">
      FACULTAD DE <span class="Nombre_Pagina_Text_Defualt"> INGENIERÍA </span>
    </div>
  </section>

  <section class="Opciones_Rutas">
    <div class="Rutas_Navegacion_Contenedor">
      <nav class="Rutas_Navegacion_Listado">
        <a href="Sistema/Inicio">Inicio</a>
        <a href="Sistema/Inicio/Listado">Listado</a>
        <a href="Sistema/Inicio/Alta_Materia">Alta Materia </a>
        <a href="Sistema/Inicio/Baja_Materia">Baja Materia </a>
      </nav>
    </div>
  </section>

  <section class="Cuenta">
    <img class="Cerrar_Sesion_img" src="../../../../assets/menu/Cuenta.png" alt="">
    <div class="Cerrar_Sesion">
      <button> <p>Cerrar Sesion</p> </button>
    </div>
  </section>
</main>
