<div class="overlay" style="padding-top: 1rem;">
  <form style="padding-top: 0;">
    <div class="con">

      <header class="head-form">
        <h2>Registrar Cuenta</h2>
        <p>Ingresa los datos solicitados</p>
      </header>

      <div class="field-set">

        <span class="input-item">
          <i class="fa fa-user-circle"></i>
        </span>

        <input
          class="form-input"
          id="txt-input"
          type="email"
          placeholder="@Usuario"
          [value]="username"
          (input)="updateUsername($event)"
          required
        />

        <br />

        <span class="input-item">
          <i class="fa fa-key"></i>
        </span>

        <input
          class="form-input"
          type="password"
          id="pwd"
          name="password"
          placeholder="••••••••••••"
          [value]="password"
          (input)="updatePassword($event)"
          required
        />

        <span>
          <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
        </span>

        <br/>

        <span class="input-item">
          <i class="fa fa-user-circle"></i>
        </span>

        <input
          class="form-input"
          id="txt-input"
          type="email"
          placeholder="User Name"
          [value]="username"
          (input)="updateUsername($event)"
          required
        />

        <br />

        <span class="input-item">
          <i class="fa fa-user-circle"></i>
        </span>

        <input
          class="form-input"
          id="txt-input"
          type="email"
          placeholder="User Name"
          [value]="username"
          (input)="updateUsername($event)"
          required
        />

        <br />

        <span class="input-item">
          <i class="fa fa-user-circle"></i>
        </span>

        <input
          class="form-input"
          id="txt-input"
          type="email"
          placeholder="User Name"
          [value]="username"
          (input)="updateUsername($event)"
          required
        />

        <br />

        <input
          class="form-input"
          id="txt-input"
          type="file"
          placeholder="User Name"
          [value]="username"
          (input)="updateUsername($event)"
          required
        />

        <br />

        <button class="log-in" (click)="CrearCuenta()" routerLink="Listas">Crear Cuenta</button>
      </div>

      <div class="other">


        <button class="btn submits sign-up" (click)="IniciarSesion()">
          Iniciar Sesión!
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>

      </div>
    </div>
  </form>
</div>

<script>
  function show() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "text");
  }

  function hide() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "password");
  }

  var pwShown = 0;

  document.getElementById("eye").addEventListener(
    "click",
    function () {
      if (pwShown == 0) {
        pwShown = 1;
        show();
      } else {
        pwShown = 0;
        hide();
      }
    },
    false
  );
</script>
