<main class="Contenedor_Inicio">

  <h1 class="Titulo_Inicio"> Materias del docente</h1>

  <article class="Contenedor_Materias row row-cols-1 row-cols-md-2 " style="column-gap: 15px; row-gap: 15px;">
    <div class="card" *ngFor="let materia of Materias; let i = index ">
      <div class="banner">
      </div>
      <h2 *ngIf="!datos?.title" class="name"> {{materia.nombre_materia}} </h2>
      <div class="title"> NRC: {{materia.nrc_materia}} </div>
      <div class="actions">
        <div class="follow-info">
          <h2><p ><span *ngIf="!datos?.title"> {{materia.grupo_materia}} </span><small>Grupo</small></p></h2>
          <h2><p><span *ngIf="!datos?.title"> {{cantidad_alumnos[i]}} </span><small>Estudiantes</small></p></h2>
        </div>
        <div class="follow-btn">
          <button (click)="enviarDato(materia.nrc_materia, materia.carrera_materia)"  routerLink="Listas">Lista Asistencia</button>
        </div>
      </div>
      <div *ngIf="!datos?.title" class="desc">Experiencia Educativa perteneciente al programa educativo de {{materia.carrera_materia}} en la {{materia.facultad_asignada}} </div>
    </div>

  </article>

</main>
